<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Albums</title>
</head>
<body>
    <h1>Albums</h1>

    <form action="/albums" method="post">
        <fieldset>
            <legend>Add a new Album</legend>
            <label for="title">Album Title</label>
            <input type="text" name="title">
            <br>
            <lable for="artist">Artist</lable>
            <input type="text" name="artist">
            <br>
            <label for="songCount">How many songs on the album?</label>
            <input type="number" name="songCount">
            <br>
            <label for="length">How long is the album? (in seconds)</label>
            <input type="number" name="length">
            <br>
            <label for="imageUrl">Link to an image of the album cover</label>
            <input type="text" name="imageUrl">
            <br>
            <input type="submit" value="Add Album">
        </fieldset>
    </form>

    <ul th:each="album : ${albums}">
        <img th:src="${album.imageUrl}" class="albumCover"/>
        <li th:text="'Album title: ' + ${album.title}"></li>
        <li th:text="'Artist: ' + ${album.artist}"></li>
        <li th:text="'Song Count: ' + ${album.songCount}"></li>
        <li th:text="'Album Length: ' + ${album.length} + ' seconds'"></li>
        <div>Tracklist:</div>
        <ul th:each="song: ${album.trackList}">
            <li th:text="${song.trackNumber} + '. ' + ${song.title} + ' (' + ${song.length} + ' seconds)'" ></li>
        </ul>

        <form action="/addSong" method="post">
            <fieldset>
                <legend>Add a song to this album</legend>
                <label for="title">Song Title</label>
                <input type="text" name="title">
                <label for="length">Song Length (in seconds)</label>
                <input type="number" name="length">
                <label for="trackNumber">Track Number</label>
                <input type="number" name="trackNumber">
                <input type="hidden" name="albumTitle" th:value="${album.title}">
                <input type="submit" value="Add Song">
            </fieldset>
        </form>
    </ul>
</body>
</html>