<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Songr Home Page</title>
</head>
<body>
    <h1>Songr</h1>
    <div>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
           dolore magna aliqua. Nunc id cursus metus aliquam eleifend mi in. Vestibulum mattis ullamcorper velit sed
           ullamcorper. Massa ultricies mi quis hendrerit dolor. Pretium vulputate sapien nec sagittis aliquam. Mauris
           augue neque gravida in fermentum et sollicitudin ac. Consequat ac felis donec et odio pellentesque diam.
           Facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui. Justo donec enim diam vulputate.
           Massa id neque aliquam vestibulum morbi blandit. Lectus mauris ultrices eros in cursus turpis. Turpis
           egestas sed tempus urna et. Sit amet tellus cras adipiscing enim eu. Velit dignissim sodales ut eu sem
           integer vitae justo eget. Ut tortor pretium viverra suspendisse potenti. Hac habitasse platea dictumst
           quisque sagittis purus. Nisi lacus sed viverra tellus in hac habitasse platea. Scelerisque felis imperdiet
           proin fermentum leo vel.
       </p>
    </div>
</body>
</html>