<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
</head>
<body>
    <h1 th:text="${frankAlbum.title}"></h1>
    <image th:src="${frankAlbum.imageUrl}"></image>
    <div th:text="'Artist: ' + ${frankAlbum.artist}"></div>
    <div th:text="'Song Count: ' + ${frankAlbum.songCount}"></div>
    <div th:text="'Album Length: ' + ${frankAlbum.length} + ' seconds'"></div>
    <div>Tracklist:</div>
    <ul th:each="song: ${frankAlbum.trackList}">
        <li th:text="${song.trackNumber} + '. ' + ${song.title} + ' (' + ${song.length} + ' seconds)'" ></li>
    </ul>
</body>
</html>